#aliProj {
		font-family: 'Roboto', sans-serif;
		font-weight:300;
        text-align: center;
        margin-top:1%;
		}

.textProj {
        font-weight: 400;
        
        }

#menuItems {
        width:25%;
        margin: 0% auto;
        }

.menuButton {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color:black;
        text-decoration: none;
        
        -o-transition:color .4s ease-in-out;
        -ms-transition:color .4s ease-in-out;
        -moz-transition:color .4s ease-in-out;
        -webkit-transition:color .4s ease-in-out;        
        transition:color .4s ease-in-out;
  
    
        }

.menuButton:hover {
        color:#2196f3;
}