#aliProj {
		font-family: 'Roboto', sans-serif;
		font-weight:300;
        text-align: center;
        margin-top:%;
		}

.textProj {
        font-weight: 400;
        
        }

.menuButton {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        color:black;
        text-decoration: none;
        }

#menuItems {
        width:30%;
        margin: 0% auto;
        }

td:hover {
    
}