#aliProj {
		font-family: 'Roboto', sans-serif;
		font-weight:300;
        text-align: center;
        margin-top:15%;
		}

#constructText {
        font-family: 'Roboto', sans-serif;
        font-weight:100;
        text-align: center;
        }